@charset "UTF-8";
/* @import url("code.css"); */

:root{
	--monospace-font		: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;

	--application-font-color-r	:   0;
	--application-font-color-g	:   0;
	--application-font-color-b	:   0;

	--application-background-r	: 255;
	--application-background-g	: 255;
	--application-background-b	: 255;

	--base-color-r			:   0;
	--base-color-g			: 174;
	--base-color-b			: 239;

	--table-header			: RGBA(0, 0, 0, 0.10);
	--table-header-opaque-ch	: calc(255 * 0.90);
	--table-header-border		: 187, 187, 187;	/* #BBBBBB */
	--table-border			: 204, 204, 204;	/* #CCCCCC */
}
:root .dark{
	--application-font-color-r	: 192;
	--application-font-color-g	: 192;
	--application-font-color-b	: 192;

	--application-background-r	:  16;
	--application-background-g	:  16;
	--application-background-b	:  16;

	--table-header			: RGBA(255, 255, 255, 0.10);
	--table-header-opaque-ch	: calc(255 * 0.10);
	--table-header-border		:  85,  85,  85;	/* #555555 */
	--table-border			:  68,  68,  68;	/* #444444 */
}
:root, :root .dark{
	--application-font-color	: var(--application-font-color-r), var(--application-font-color-g), var(--application-font-color-b);
	--application-background	: var(--application-background-r), var(--application-background-g), var(--application-background-b);

	--base-color			: var(--base-color-r), var(--base-color-g), var(--base-color-b);
	--base-color-white-025		: calc(var(--base-color-r) + ((255 - var(--base-color-r)) * 0.25)),
					  calc(var(--base-color-g) + ((255 - var(--base-color-g)) * 0.25)),
					  calc(var(--base-color-b) + ((255 - var(--base-color-b)) * 0.25));
	--base-color-white-050		: calc(var(--base-color-r) + ((255 - var(--base-color-r)) * 0.50)),
					  calc(var(--base-color-g) + ((255 - var(--base-color-g)) * 0.50)),
					  calc(var(--base-color-b) + ((255 - var(--base-color-b)) * 0.50));
	--base-color-white-075		: calc(var(--base-color-r) + ((255 - var(--base-color-r)) * 0.75)),
					  calc(var(--base-color-g) + ((255 - var(--base-color-g)) * 0.75)),
					  calc(var(--base-color-b) + ((255 - var(--base-color-b)) * 0.75));
	--base-color-black-025		: calc(var(--base-color-r) * 0.75), calc(var(--base-color-g) * 0.75), calc(var(--base-color-b) * 0.75);
	--base-color-black-050		: calc(var(--base-color-r) * 0.50), calc(var(--base-color-g) * 0.50), calc(var(--base-color-b) * 0.50);
	--base-color-black-075		: calc(var(--base-color-r) * 0.25), calc(var(--base-color-g) * 0.25), calc(var(--base-color-b) * 0.25);

	--table-hover			: RGBA(var(--base-color), 0.10);
	--table-header-opaque		: var(--table-header-opaque-ch), var(--table-header-opaque-ch), var(--table-header-opaque-ch);
	--table-hover-header-opaque	: calc(var(--base-color-r) + ((var(--table-header-opaque-ch)   - var(--base-color-r)) * 0.90)),
					  calc(var(--base-color-g) + ((var(--table-header-opaque-ch)   - var(--base-color-g)) * 0.90)),
					  calc(var(--base-color-b) + ((var(--table-header-opaque-ch)   - var(--base-color-b)) * 0.90));
	--table-hover-opaque		: calc(var(--base-color-r) + ((var(--application-background-r) - var(--base-color-r)) * 0.90)),
					  calc(var(--base-color-g) + ((var(--application-background-g) - var(--base-color-g)) * 0.90)),
					  calc(var(--base-color-b) + ((var(--application-background-b) - var(--base-color-b)) * 0.90));
}

body{
	margin			: 0px;
	padding			: 0px;
	color			: RGB(var(--application-font-color));
	background		: RGB(var(--application-background));
}

h1, h2{
	font-weight		: normal;
}

h1{
	margin			: 0px;
	padding			: 4px 8px;
	color			: RGB(var(--base-color-black-075));
	border-bottom		: 1px solid RGB(var(--base-color));
	background-color	: RGBA(var(--base-color), 0.25);
	font-weight		: normal;
}
.dark h1, .dark h1 a{
	color			: RGB(var(--base-color-white-075));
}
h2{
	margin			: 8px 0px 4px;
	padding-left		: 8px;
	border-bottom		: 1px solid RGB(var(--base-color));
	font-weight		: normal;
}
h3{
	margin			: 8px 0px 4px;
	padding-left		: 8px;
	border-bottom		: 1px solid RGBA(var(--base-color), 0.50);
	font-weight		: normal;
}
h4{
	padding-left		: 24px;
	font-weight		: bold;
}
h5{
	padding-left		: 28px;
}
h6{
	padding-left		: 32px;
}

footer{
	display			: block;
	margin			: 64px 0px 0px 0px;
	padding			: 8px;
	border-top		: 1px solid RGBA(0, 0, 0, 0.25);
	background-color	: RGBA(0, 0, 0, 0.125);
}
.dark footer{
	border-color		: RGBA(255, 255, 255, 0.25);
	background-color	: RGBA(255, 255, 255, 0.125);
}

footer .author{
	text-align		: center;
}


p{
	margin-left		: 32px;
	line-height		: 1.5em;
}
.large{
	font-size		: 120%;
}
.small{
	font-size		: 80%;
}
a{
	padding: 2px;
	border-radius		: 4px;
}
a:link, a:visited{
	color			: RGB(var(--base-color-black-025));
}
a[href]:hover{
	background-color	: RGBA(var(--base-color), 0.10);
}
.dark a:link, .dark a:visited{
	color			: RGB(var(--base-color-white-025));
}

img{
	display			: block;
	margin			: 8px auto;
}

pre{
	margin			: 8px 32px;
	padding			: 2px 4px;
	border			: solid 1px RGBA(0, 0, 0, 0.25);
}

table{
	display			: block;
	margin			: 12px 32px;

	border-collapse		: collapse;
}
tr:hover{
	background-color	: var(--table-hover);
}
.colhover th, .colhover td{
	position		: relative;
}
.colhover td:hover::after,
.colhover th:hover::after{
	content			: "";
	position		: absolute;
	background-color	: RGBA(var(--base-color), 0.10);
	left			: 0;
	top			: -5000px;
	height			: 10000px;
	width			: 100%;
	z-index			: -1;
}
thead td, tr.head td, th{
	border			: solid 1px RGB(var(--table-header-border));
	background-color	: var(--table-header);
	font-weight		: bold;
	text-align		: center;
}
td{
	border			: solid 1px RGB(var(--table-border));
}
td, th{
	padding			: 2px 8px;
}
td.center{
	text-align		: center;
}
dl{
	margin-left		: 16px;
}
dt{
	float			: left;
	clear			: left;
	width			: 128px;
	/* display		: list-item; */
	margin-left		: 0px;
	width			: 192px;
}
dd:before{
	content			: ": ";
}

header{
	text-align		: center;
}
header a:link{
	color			: RGB(var(--base-color-black-075));
	text-decoration		: none;
}
header a:hover{
	opacity			: 0.75;
	text-decoration		: underline;
}
.dark header a:link{
	color			: RGB(var(--base-color-white-075));
}

.dark textarea, .dark input{
	background-color	: RGBA(255, 255, 255, 0.10);
	color			: silver;
}
input[type="number"]{
	text-align		: right;
}

.jokeDel{
	text-decoration		: line-through;
}

.comment{
	color			: #008000;
}
code.inline{
	background-color	: RGBA(128, 128, 128, 0.25);
	border-radius		: 4px;
	padding			: 2px 4px;
	padding-right		: 4px;
	font-family		: var(--monospace-font);
}

/**************************************************/

:root{
	--application-width	: 96ch;
	--large-textbox-width	: 60%;
	--small-textbox-width	: 40%;
	--result-max-height	: 640px;
	--result-content-height	: calc(var(--result-max-height) - 32px);
	--timeline-speed-width	: 1px;
}

body{
	min-width		: var(--application-width);
}

#ErrorMessage{
	color			: #CC0000;
	border			: solid 1px #CC0000;
	background-color	: RGBA(204, 0, 0, 0.25);
	margin			: 8px;
	border-radius		: 4px;
}
.dark #ErrorMessage{
	color			: #CCA0A0;
}

.hide{
	display			: none;
}

textarea{
	display			: block;
	margin			: auto;

	white-space		: pre;
	overflow-wrap		: normal;
}

fieldset{
	border			: solid 2px #808080;
	background		: RGBA(128, 128, 128, 0.10);
	margin			: 2px 8px;
	padding			: 4px;
}
fieldset dl{
	margin			: 4px;
}

.intinput{
	text-align		: right;
}
.hexinput{
	text-align		: right;
	text-transform		: uppercase;
}

#SettingForm{
	width			: var(--application-width);
	margin			: auto;
}

#Assembler article{
	margin			: auto;
	max-width		: var(--application-width);
}
#AssemblerMain{
	width			: 60%;
}
#AssemblerHexfile{
	width			: 40%;
}
#Assembler textarea{
	width			: calc(100% - 6px);
}
#AssemblerContainer, #AssemblerController{
	margin			: 4px 0px;
	display			: flex;
	flex-direction		: row;
	justify-content		: center;
}
#AssemblerMain textarea{
	resize			: vertical;
	min-height		: 8em;
}
#AssemblerHexfile textarea{
	resize			: none;
}
#AssemblerMain, #AssemblerHexfile{
	margin			: 0px 2px;
}
#AssemblerHexfile div{
	height			: 50%;
	display			: flex;
	flex-direction		: column;
}
#AssemblerHexfile div h3{
	flex			: 1;
}
#AssemblerHexfile div textarea{
	flex			: 100%;
}
#AssemblerController input[type="button"]{
	margin			: 0px 4px;
	padding			: 4px 32px;
	font-size		: 120%;
}

.errorMessage{
	color			: red;
}

#Result table{
	margin-left		: auto;
	margin-right		: auto;
}
#ResultStatistics{
	margin			: 4px auto;
	width			: var(--application-width);
}
#ViewerSelect{
	margin			: 8px auto;
	display			: flex;
	flex-direction		: row;
	justify-content		: center;
}
#ViewerSelect input{
	display			: none;
}
#ViewerSelect input + label{
	display			: block;
	border			: solid 1px RGB(var(--base-color));
	background-color	: RGBA(var(--base-color), 0.10);
	border-radius		: 4px;
	margin			: 4px;
	padding			: 4px 16px;
	user-select		: none;
}
#ViewerSelect input[type="radio"]:checked + label{
	background-color	: RGBA(var(--base-color), 0.50);
	opacity			: 1.00;
}
#ViewerSelect label+input:checked{
	background-color	: #90B0BD;
}

#Result article{
	height			: var(--result-max-height);
	overflow		: hidden;
}

table.stickyHeader{
	border			: solid 1px RGB(var(--table-border));
	border-collapse		: separate;
	border-spacing		: 0;
	overflow		: auto;
}
table.stickyHeader th{
	position		: sticky;
	top			: 0;
	background-color	: RGB(var(--table-header-opaque));
	z-index			: 1000;
}
table.stickyHeader tr:hover th{
	background-color	: RGB(var(--table-hover-header-opaque));
}
table.stickyHeader th,
table.stickyHeader td{
	border-top		: none;
}
table.stickyHeader tbody tr:last-child td{
	border-bottom		: none;
}
table.stickyHeader th,
table.stickyHeader td{
	border-left		: none;
}
table.stickyHeader tr th:last-child,
table.stickyHeader tr td:last-child{
	border-right		: none;
}

#Result .stickyHeader{
	max-height		: calc(var(--result-content-height) - 2em);
}
#ViewerTextLog_Log{
	margin			: 16px auto;
	width			: 144ch;
	max-width		: 90%;
	height			: calc(var(--result-content-height) - 2em);
	max-height		: calc(var(--result-content-height) - 2em);
	min-height		: 8em;
	resize			: vertical;
	overflow		: scroll;
}

#ViewerTimeline .legend{
	border			: solid 1px RGBA(128, 128, 128, 0.25);
	font-size		: 90%;
	margin			: 0px 1px;
	padding			: 2px 4px;
}
#ViewerTimeline_Legend{
	text-align		: center;
	margin-left		: 0;
	margin-right		: 0;
}
#ViewerTimeline .data{
	font-family		: var(--monospace-font);
	color			: RGBA(255, 255, 255, 0.80);
	text-align		: center;
}
#ViewerTimeline td.data{
	padding			: 0;
	overflow		: hidden;
	border-left		: dotted 1px RGB(var(--table-border));
	box-sizing		: border-box;
}
#ViewerTimeline td.data:hover{
/*
	border			: solid 2px RGBA(255, 255, 255, 0.5);
	box-sizing		: border-box;
*/
	filter			: brightness(1.2);
}
#ViewerTimeline .FetchOpcode	{	background-color: #FFC000;	}
#ViewerTimeline .FetchOperand	{	background-color: #C0C000;	}
#ViewerTimeline .ReadIndirect	{	background-color: #008000;	}
#ViewerTimeline .Read		{	background-color: #40C040;	}
#ViewerTimeline .ReadDummy	{	background-color: #00C080;	}
#ViewerTimeline .Write		{	background-color: #0080FF;	}
#ViewerTimeline .WriteDummy	{	background-color: #40C0FF;	}
#ViewerTimeline .PullStack	{	background-color: #FF80FF;	}
#ViewerTimeline .PushStack	{	background-color: #C040C0;	}
#ViewerTimeline .Penalty	{	background-color: #FF4040;	}
#ViewerTimeline .Fast		{	width: calc(var(--timeline-speed-width) *  6); max-width: calc(var(--timeline-speed-width) *  6); min-width: calc(var(--timeline-speed-width) *  6); 	}
#ViewerTimeline .Slow		{	width: calc(var(--timeline-speed-width) *  8); max-width: calc(var(--timeline-speed-width) *  8); min-width: calc(var(--timeline-speed-width) *  8);	}
#ViewerTimeline .XSlow		{	width: calc(var(--timeline-speed-width) * 12); max-width: calc(var(--timeline-speed-width) * 12); min-width: calc(var(--timeline-speed-width) * 12);	}
#ViewerTimeline_Container{
	margin			: 4px 8px;
}
#ViewerTimeline_Table{
	width			: fit-content;
	max-width		: 100%;
	overflow		: auto;
}
#ViewerTimeline_Table.stickyHeader{
	max-height		: calc(var(--result-content-height) - 4em);
}
#ViewerTimeline_Table th{
	max-width		: 0;
	overflow		: hidden;
}
#ViewerTimeline_Table .sticky{
	position		: sticky;
	z-index			: 10000;
}
#ViewerTimeline_Table th.sticky{
	padding-left		: 0;
	padding-right		: 0;
	z-index			: 20000;
}
#ViewerTimeline_Table th.address{
	width			: 96px;
	max-width		: 96px;
	min-width		: 96px;
}
#ViewerTimeline_Table th.code{
	width			: 14ch;
	max-width		: 14ch;
	min-width		: 14ch;
	overflow		: hidden;
}
#ViewerTimeline_Table th.timeline{
	text-align		: left;
	padding-left		: 2px;
}
#ViewerTimeline_Table .dummyTimeline{
	width			: 100%;
}
#ViewerTimeline_Table td{
	background		: RGB(var(--application-background));
}
#ViewerTimeline_Table tr:hover th{
	background-color	: RGB(var(--table-hover-header-opaque));
}
#ViewerTimeline_Table tr:hover td:not(.data){
	background-color	: RGB(var(--table-hover-opaque));
}
#ViewerTimeline_Table td.address{
	font-family		: var(--monospace-font);
	text-align		: center;
}
#ViewerTimeline_Table td.code{
	font-family		: var(--monospace-font);
	text-align		: left;
}
#ViewerTimeline_Table .address{
	left			: 0;
}
#ViewerTimeline_Table .code{
	left			: 97px;
}
#ViewerTimeline_Table th:not(.sticky),
#ViewerTimeline_Table td:not(.sticky){
	border-right		: none;
}
#ViewerTimeline_Table td:not(.sticky){
	border-bottom		: none;
}
#ViewerTimeline_Table td:not(.sticky):not(.data){
	background		: none;
}
#ViewerTimeline_Table .instructionStart{
	border-left		: dashed 1px RGB(var(--table-border));
}
#ViewerTimeline_Table tr .instructionStart:nth-child(3){
	border-left		: none;
}

#ViewerHeatmap_Table{
	width			: var(--application-width);
}

#ViewerHeatmap th.line{
	width			: 6ch;
}
#ViewerHeatmap th.address{
	width			: 10ch;
}
#ViewerHeatmap th.code{
	width			: calc(var(--application-width) - 32ch);
}
#ViewerHeatmap th.cycle{
	width			: 8ch;
}
#ViewerHeatmap th.rate{
	width			: 8ch;
}
#ViewerHeatmap tbody td{
	font-family		: var(--monospace-font);
}
#ViewerHeatmap td.line{
	text-align		: right;
}
#ViewerHeatmap td.address{
	text-align		: center;
}
#ViewerHeatmap td.code{
	white-space		: pre;
	overflow-x		: auto;
	max-width		: calc(var(--application-width) - 32ch);
}
#ViewerHeatmap td.cycle{
	text-align		: right;
}
#ViewerHeatmap td.rate{
	text-align		: right;
}
#ViewerHeatmap tbody tr:hover td{
	background-color	: RGBA(var(--base-color), 0.10);
}


#ViewerWritten_Table{
	width			: var(--application-width);
}
#ViewerWritten th.region{
	width			: 12ch;
}
#ViewerWritten th.address{
	width			: 10ch;
}
#ViewerWritten th.value{
	width			: 6ch;
}
#ViewerWritten th.timing{
	width			: 10ch;
}
#ViewerWritten th.history{
	width			: calc(var(--application-width) - 38ch);
}

#ViewerWritten td.region{
	text-align		: center;
}
#ViewerWritten td.address{
	text-align		: center;
}
#ViewerWritten td.value{
	text-align		: center;
}
#ViewerWritten td.timing{
	text-align		: right;
}
#ViewerWritten td.history{
	color			: silver;
}
#ViewerWritten td.history .highlight{
	color			: #000000;
	text-decoration		: underline;
}
.dark #ViewerWritten td.history{
	color			: gray;
}
.dark #ViewerWritten td.history .highlight{
	color			: silver;
}

footer ul{
	text-align		: center;
}
footer ul li{
	display			: inline;
	border-left		: 1px solid #808080;
	padding			: 2px 8px;
}
footer ul li:first-of-type{
	border-left		: none;
}

@media (max-width: 100ch){
	#AssemblerContainer{
		display		: block;
	}
	#AssemblerContainer div{
		width		: 100%;
		margin-left	: 0;
		margin-right	: 0;
	}
	#AssemblerContainer textarea{
		width		: calc(100% - 20px);
	}
	#AssemblerHexfile textarea{
		height		: 8em;
	}
	#AssemblerHexfile div{
		display		: block;
	}
}


